body {
	font-family: 'ROBOTO-LIGHT'
}
/*
/*.x-layout-card, .x-dock > .x-dock-body, .x-carousel-inner, body.x-desktop {
	overflow: visible;
}*/
/*ICONS*/

.x-field {
	min-height: 43px;
	background: transparent;
}
.x-toolbar.x-docked-top {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.toolbar-icon-home {
  background-image: url('../images/icons/ic-home.png');
  background-size: contain;
}

.toolbar-icon-list {
  background-image: url('../images/icons/ic-list.png');
  background-size: contain;
  width: 28px;
  height: 28px;
}

.toolbar-icon-ketsat {
  background-image: url('../images/icons/ic-ketsat.png');
  background-size: contain;
  width: 29px;
  height: 27px;
}

.toolbar-icon-more {
  background-image: url('../images/icons/ic-more.png');
  background-size: contain;
  right: -14px;
}

.toolbar-icon-menu {
  background-image: url('../images/icons/ic-menu.png');
  background-size: contain;
  border: 2px solid transparent;
  left: -8px;
}

.toolbar-icon-previous {
  background-image: url('../images/icons/ic-previous.png');
  background-size: contain;
}

.toolbar-icon-next {
  background-image: url('../images/icons/ic-next.png');
  background-size: contain;
}

.toolbar-button-add {
  background-image: url('../images/buttons/btn-add.png');
  width: 44px;
  height: 44px;
}

.toolbar-button-back {
  background-image: url('../images/buttons/btn-back.png');
  width: 30px;
  height: 26px;
}

.toolbar-button-done {
  background-image: url('../images/buttons/btn-done.png');
  width: 44px;
  height: 44px;
}


.toolbar-button-viewtype {
  background-image: url('../images/buttons/btn-viewtype.png');
  width: 36px;
  height: 36px;
}
/*VIEW BASE*/

.viewbase .x-toolbar {
	background-color: #fff;
	border-bottom: 1px solid #d4d0cf;
}

.viewbase .x-toolbar .x-title {
	color: #898e91;
}

/*.viewbase-container .x-toolbar {
	background-color: #414141;
}*/

.viewbase-toolbar-top, .viewbase-toolbar-bottom {
	background-color: #0c71a5;
	height: 45px;
	padding-right: 12px;
	padding-left: 12px;
	width: 100%;
}

.viewbase-toolbar-bottom {
	background-color: #414141;
}

/*SEGMENTED BUTTON EXPENSE TYPE*/
.segmentedbutton.expensetype .x-button.x-button-pressed{
	background-image: url('../images/bg-trade-active.png');
	background-size: contain;
}
.segmentedbutton.expensetype .x-button {
	background-image: url('../images/bg-trade-inactive.png');
	background-size: contain;
}
.segmentedbutton.expensetype .x-button.x-button-pressed .x-button-label {
	color: #fff;
	font-family: 'ROBOTO-LIGHT';
}
.segmentedbutton.expensetype .x-button .x-button-label {
	color: #b4b4b4;
	font-family: 'ROBOTO-LIGHT';
}
.segmentedbutton.expensetype .x-button {
	border-right: 1px solid #666;
}

/*FORM CONTAINER*/
.form-container {
	width: 100%;
	padding: 10px 10px;
	background-color: #e3e3e3;
}
/*BUTTONS*/
.button-icon {
	background-color: transparent;
	border: 0;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 0;
}

.x-button {
	border-radius: 5px;
}
.x-button-label,.x-button-normal .x-button-label {
	color: white;
	font-family: 'ROBOTO-LIGHT';
}

