body {
	font-family: 'ROBOTO-LIGHT'
}
/*
 /*.x-layout-card, .x-dock > .x-dock-body, .x-carousel-inner, body.x-desktop {
 overflow: visible;
 }*/

.x-android .x-input-el {
    -webkit-text-fill-color: #fff !important;
}

/*LIST*/
.x-list .x-list-item .x-list-item-body, .x-list .x-list-item.x-list-item-tpl .x-innerhtml {
	padding: 0px;
}
/*ICONS*/

.x-field {
	min-height: 45px;
	background: transparent;
}

.x-toolbar {
	height: 46px;
}

.x-toolbar .x-button {
	height: 46px;
	margin: 0px;
	background-image: url('../images/bg-tabbar.png');
	background-size: contain;
	border-radius: 0px;
}

.x-toolbar.x-docked-top .x-button {
	padding-top: 0em;
}

.toolbar-icon-home {
	background-image: url('../images/icons/ic-home.png');
	background-size: contain;
}

.toolbar-icon-list {
	background-image: url('../images/icons/ic-list.png');
	background-size: contain;
	width: 28px;
	height: 28px;
}

.toolbar-icon-ketsat {
	background-image: url('../images/icons/ic-ketsat.png');
	background-size: contain;
	width: 29px;
	height: 27px;
}

.toolbar-icon-more {
	background-image: url('../images/icons/ic-more.png');
	background-size: contain;
	right: -14px;
}

.toolbar-icon-menu {
	background-image: url('../images/icons/ic-menu.png');
	background-size: contain;
	border: 2px solid transparent;
	left: -8px;
}

.toolbar-icon-previous {
	background-image: url('../images/icons/ic-previous.png');
	background-size: contain;
}

.toolbar-icon-next {
	background-image: url('../images/icons/ic-next.png');
	background-size: contain;
}

.toolbar-button-add {
	background-image: url('../images/buttons/btn-add.png');
	width: 44px;
	height: 44px;
}

.toolbar-button-back {
	background-image: url('../images/buttons/btn-back.png');
	width: 30px;
	height: 26px;
}

.toolbar-button-done {
	background-image: url('../images/buttons/btn-done.png');
	width: 44px;
	height: 44px;
}

.toolbar-button-done2 {
	background-image: url('../images/buttons/btn-done2.png');
	width: 44px;
	height: 44px;
}

.toolbar-button-done3 {
	background-image: url('../images/buttons/btn-done3.png');
	width: 44px;
	height: 44px;
}

.toolbar-button-viewtype {
	background-image: url('../images/buttons/btn-viewtype.png');
	width: 36px;
	height: 36px;
}
.toolbar-button-tag {
	background-image: url('../images/buttons/btn-tag.png');
	width: 36px;
	height: 36px;
}
.toolbar-button-search {
	background-image: url('../images/buttons/btn-search.png');
	width: 36px;
	height: 36px;
}
.toolbar-button-tag {
  background-image: url('../images/buttons/btn-tag.png');
  width: 36px;
  height: 36px;
}
.toolbar-button-search{
  background-image: url('../images/buttons/btn-search.png');
  width: 36px;
  height: 36px;
}
/*VIEW BASE*/

.viewbase .x-toolbar {
	background-color: #fff;
	border-bottom: 1px solid #d4d0cf;
}

.viewbase .x-toolbar .x-title {
	color: #898e91;
}


/*
 .viewbase-container {
 background-image: url('../images/bg-main.png');
 }*/


.viewbase-toolbar-top, .viewbase-toolbar-bottom {
	background-color: #0c71a5;
	height: 46px;
	padding-right: 12px;
	padding-left: 12px;
	width: 100%;
}

.viewbase-toolbar-bottom {
	background-color: #414141;
}

/*SEGMENTED BUTTON EXPENSE TYPE*/

.x-segmentedbutton {
	border: 0px;
}
.segmentedbutton.tabbar .x-button.x-button-pressed {
	background-image: url('../images/bg-tabbar-active.png');
	background-size: contain;
}
.segmentedbutton.tabbar .x-button {
	/*background-color: transparent;*/
	height: 46px;
}
/*
 .segmentedbutton.tabbar .x-button.x-button-pressed .x-button-label {
 color: #fff;
 font-family: 'ROBOTO-LIGHT';
 }
 .segmentedbutton.tabbar .x-button .x-button-label {
 color: #b4b4b4;
 font-family: 'ROBOTO-LIGHT';
 }
 .segmentedbutton.tabbar .x-button {
 border-right: 1px solid #666;
 }
 */
/*SEGMENTED BUTTON EXPENSE TYPE*/
.segmentedbutton.expensetype .x-button.x-button-pressed {
	background-image: url('../images/bg-trade-active.png');
	background-size: contain;
}
.segmentedbutton.expensetype .x-button {
	background-image: url('../images/bg-trade-inactive.png');
	background-size: contain;
}
.segmentedbutton.expensetype .x-button.x-button-pressed .x-button-label {
	color: #fff;
	font-family: 'ROBOTO-LIGHT';
}
.segmentedbutton.expensetype .x-button .x-button-label {
	color: #b4b4b4;
	font-family: 'ROBOTO-LIGHT';
}
.segmentedbutton.expensetype .x-button {
	border-right: 1px solid #666;
}

/*FORM CONTAINER*/
.form-container {
	width: 100%;
	padding-left: 12px;
	padding-right: 12px;
}
/*BUTTONS*/
.button-icon {
	background-color: transparent;
	border: 0;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 0;
}

.x-button {
	border-radius: 5px;
}
.x-button-label, .x-button-normal .x-button-label {
	color: white;
	font-family: 'ROBOTO-LIGHT';
}

/*HOME*/
.main {
	background-image: url('../images/bg-main.png');
	background-size: contain;
}
.app-container {
	color: #fff;
}
.fullwidth-container {
	width: 100%;
}

.transparent-container {
	background-color: transparent;
}

.expenseinfo-container {
	background-color: white;
}

.expenseinfo-income, .expenseinfo-outcome, .expenseinfo-balance {
	color: #fff;
	font-size: 26px;
}

.expenseinfo-income {
	background-color: #6bc63a;
	border: 4px solid white;
	border-right-width: 2px;
}

.expenseinfo-outcome {
	background-color: #ff4f5a;
	border: 4px solid white;
	border-left-width: 2px;
}

.expenseinfo-text {
	font-size: 14px;
	color: #fff;
}

.expenseinfo-balance-date {
	font-size: 12px;
}
/*RECORD*/
.record-date-container {
	padding-bottom: 13px;
	border-bottom: 1px solid #579cc3;
	margin-left: 12px;
	margin-right: 12px;
}

.record-date {
	font-size: 14px;
	color: #fff;
	margin-top: 15px;
}

.record-list-container {

}

.recorditem-header-container {
	height: 40px;	
	background-color: rgba(1,1,1,0);
	padding-left: 12px;
	padding-right: 12px;
}

.recorditem-header-container.active {
	background-color: #054e77;/*#065784*/055683
}

.recorditem-header {
	height: 40px;	
	border-bottom: 1px solid #579cc3;
	width: 100%;
}

.recorditem-header-date {
	font-size: 26px;
	padding: 4px 6px;
	
}

.recorditem-header-date-info {
	height: 100%;
}

.recorditem-header-day {
	font-size: 14px;
	margin-top: 0px;
}

.recorditem-header-month {
	font-size: 10px;
}

.recorditem-header-amount {
	font-size: 20px;
	padding: 8px 0px;
	
}

.recorditem-list {
	background-color: #055683;/*065784;*/
}

.recorditem-list .x-list-item {
	color: #fff;
}

.recorditem-list .x-list-item.x-list-item-tpl:before { /*:before*/
	border-bottom: 0px solid red;
}

.recorditem-list .info .thumb, .recorditem-list .info .content, .recorditem-list .info .total {
	display: inline-block;
	/* height: 100%; */
	vertical-align: middle;
}

.recorditem-list .info .thumb {
	width: 30px;
	height: 30px;
	margin-top: 6px;
	margin-left: 18px;
}

.recorditem-list .info .content {
	margin-top: 4px;
	margin-left: 6px;
}

.recorditem-list .info {
	margin-left: 12px;
	margin-right: 12px;
	padding-bottom: 5px;
	border-bottom: 1px solid #579cc3;
}

.recorditem-list .info .content .title {
    font-size: 14px;
	
}

.recorditem-list .info .content .description {
    font-size: 10px;
	
}

.recorditem-list .info .total {
	right: 12px;
	position: absolute;
	margin-top: 12px;
	text-align: right;
	font-size: 14px;
}

.record-list .x-list {
	background-color: transparent;
	margin-right: 12px;
}

