/* TRADE */
.popup-container {
	z-index: 5;
}

.popup6-container {
	z-index: 6;
}

.apppopup-line {
	width: 1px;
	height: 80%;
	background-color: #43809d;
	/*margin-right: 15px;*/
}

.apppopup-title {
	color: #fff;
	margin-top: 14px;
}

.apppopup-title.normal {
	margin-top: 0px;
}

.trade-amount-container {
	height: 100px;	
	/*padding-left: 12px;
	padding-right: 12px;*/
	width: 100%;
}

.trade-amount {
	/*border-bottom: 1px solid #5494b8;
	height: 100%;*/
}
	

/*fields*/
.form-container .x-field {
	border-bottom:1px solid #b2b2b2;
	margin-left: 12px;
	margin-right: 12px;
	padding-top: 4px;
}

.expensetype .x-input-text {
    background: transparent url('../images/fields/f-user.png') no-repeat 15px 5px;
    background-size: 27px;
    color: #000;
}

.amount .x-input-text {
    background: transparent url('../images/fields/f-user.png') no-repeat 15px 5px;
    background-size: 27px;
    color: #000;
}

.verhical .x-input-text {
    background: transparent url('../images/fields/f-xeco.png') no-repeat 15px 5px;
    background-size: 27px;
    color: #000;
}

/*date chooser*/
.datechooser-date-choosen {
	font-size: 80px;
	color: #000;
	text-align: center;
}

.datechooser-month-choosen {
	font-size: 20px;
	color: #000;
	text-align: center;
}

/*AUTO HIDE ALERT*/
.autohidealert-container {
	height: 50px;
	z-index: 11;
	width: 100%;
	background-color: transparent;
}

.autohidealert-container .message {
	background-color: rgba(36, 95, 24, 0.9);
	color: white;	
	border-radius: 6px;
	padding: 10px;
}
