.moneyinputer-button {
	background-color: #f27935;
	color: #FFFFFF;
	border: 0px;
	height: 45px;
	font-size: 64px;
}

.label-expense-title {
	font-size: 10px;
	color: #898e92;
}

.img-expense-legend {
	margin-top:10px;
}

.label-income {
	color: #0d7cff;
	font-size: 22px;
}

.label-outcome {
	color: #fe3c30;
	font-size: 22px;
}
