.inputer-container {
	z-index: 6;
}

.moneyinputer-amount-container {
	background-image: url('../images/bg-moneyinputer-amount.png');
	background-size: contain;
}

.moneyinputer-delete-icon {
	background-image: url('../images/buttons/btn-delete.png');
	background-size: contain;
}

.moneyinputer-button {
	background-color: transparent;
	color: #FFFFFF;
	border: 0px solid red;
	min-height: 30px;
	font-size: 28px
}

.moneyinputer-button.x-button-pressing {
	background-color: #03375c;
	border-radius: 0;
	color: #fff;
}

.b-textfield-moneyinput .x-input-el {
	font-family: "ROBOTO-LIGHT";
	color: #fff;
	text-align: center;
	background-color: transparent;
	min-height: 29px;
	border: 0px solid #766f67;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
	font-size: 32px;
}
